/* ALL */
*{
    margin: 0;
    padding: 0;

    box-sizing: border-box;

    font-family: "Lato", sans-serif;
}

/* MAIN */

.backgound{
    height: 100vh;
    background-color: #DADBD3;

    padding: 30px 130px;
}

.container{
    height: 100%;
    background-color: white;
    
    display: flex;
    overflow: hidden;
}

.container>*{
    border: 1px solid #E0E0E0;
    position: relative;
}

/* REUSABLE */
.section-header{
    width: 100%;
    height: 68px;
    background-color: #EAEAEA;
    padding: 5px;

    display: flex;
    justify-content: space-between;
}

.sh-left, .sh-right{
    display: flex;
    align-items: center;
}

.icon{
    padding: 5px;
}


img{
    max-height: 100%;
}

li{
    
  list-style-type: none;
}



/* CHAT SELECTOR SIDE */
.chat-selector-container{
    height: 100%;
    width: 30%;
    background-color: #FFFFFF;
    position: relative;
}

.selector-notifications{
    height: 12%;
    background-color: #8EDAFC;
}

.selector-notifications>div{
    display: flex;
    align-items: center;
}

.selector-searchbar-container{
    height: 8%;
    background-color: #FAFAFA;
    padding: 10px;

    display: flex;
}

button.search{
    height: 100%;
    width: 10%;

    background-color: white;
    border: none;
}

.searchbar{
    width: 90%;
    height: 100%;
    border: none;
}

.accounts-container{
    height: 70%;
    overflow-y: hidden;
}

.accounts-container:hover{
    overflow-y: auto;
}

.user-tab{
    height: 80px;
    padding: 10px;
    border-bottom: 1px solid #E0E0E0;

    display: flex;
    position: relative;
}

.accounts-container>.user-tab:hover{
    background-color: #F5F5F5;
}

.user-tab-active{
    
}

.pfp{
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    margin-right: 10px;

    overflow: hidden;
}

.username{
    font-size: 17px;
    font-weight: 400;
}

.info-msg{
    font-size: 10px;
    font-weight: 300;
}

.msg-time{
    position: absolute;
    right: 10px;
}

.new-chat-popup{
    position: absolute;
    transform: translate(0, -50%);
    top: 23%;
    right: 0;
    background-color: red;
    width: 50%;
    z-index: 3;

    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 5%;
    flex-grow: 0;
}

.new-chat-popup>*{
    background-color: white;
}
.close-popup{
    font-size: 1.5rem;
}

.new-chat{
}
















/* CHAT SIDE */
.chat-container{
    height: 100%;
    width: 70%;
    flex-grow: 0;
}

.chat-content{
    height: 80%;
    padding: 30px;
    background-color: #E5DDD5;
    
    overflow-y: hidden;
}

.chat-content:hover{
    overflow-y: auto;
}

.section-header.chat{
    display: flex;
}

.chat-searchbar-container{
    width: 100%;
}

.user-msg,
.other-msg{
    display: flex;
    margin-bottom: 15px;
    word-wrap: break-word;
}

.user-msg{
   justify-content: end;
}

.other-msg{
    justify-content: start;
}



.user-msg>div,
.other-msg>div{
    width: 35%;
    padding: 10px;
    border-radius: 10px;
    position: relative;
}

.user-msg>div{
    background-color: #D5F9BA;
}

.other-msg>div{
    background-color: white;
}

.user-msg>div>span,
.other-msg>div>span{
    font-size: 10px;
    position: absolute;
    bottom: 7px;
    right: 7px;
}

.popup-msg{
    display: none;
    position: absolute;
    padding: 10px;
    right: 0;
    top: 0;
    background-color: lightgrey;
    z-index: 3;
}

.user-msg>div>.popup-msg{
}

.hover-help:hover>.popup-msg{
    display: block;
}

.d-none{
    display: none;
}