<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzap - nome utente</title>

    <!-- !!!   CSS   !!! -->

    <!-- style.css -->
    <link rel="stylesheet" href="css/style.css">

    <!-- Bootstrap css_framework -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous"> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script> -->

    <!-- fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- g fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

    <!-- !!!   JS   !!! -->

    <!-- VUE js_framework -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <!-- AXIOS API -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.2/axios.min.js" integrity="sha512-JSCFHhKDilTRRXe9ak/FJ28dcpOJxzQaCd3Xg8MyF6XFjODhy/YMCM8HW0TFDckNHWUewW+kfvhin43hKtJxAw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</head>

<body>
    
    <div id="app">

        <div class="backgound">

            <div class="container">

                <!-- chat selector -->
                <div class="chat-selector-container">

                    <!-- chat selector header -->
                    <div class="section-header">

                        <!-- left -->
                        <div class="sh-left">
                            <div class="pfp"> 
                                <img src="img/pfp.jpg" alt="">
                            </div>
                            <p>TU</p>
                        </div>

                        <!-- right -->
                        <div class="sh-right">

                            <div class="icon"><i class="fa-solid fa-circle-notch"></i></div>
                            <div class="icon"><i class="fa-solid fa-message"></i></div>
                            <div class="icon"><i class="fa-solid fa-ellipsis-vertical"></i></div>
                        </div>
                    </div>

                    <!-- notification alert -->
                    <div class="selector-notifications">
                        <div class="user-tab">

                            <!-- profile pic -->
                            <div class="pfp" style="background-color: black;"> 
                            </div>

                            <!-- msg info -->
                            <div>

                                <!-- username -->
                                <div class="username">Ricevi notifiche di nuovi messaggi</div>
                                
                                <!-- last message send -->
                                <div class="info-msg"><a href="#">attiva notifiche desktop</a></div>

                            </div>

                        </div>
                    </div>

                    <!-- chat selector searchbar -->
                    <div class="selector-searchbar-container">
                        <button class="search"><i class="fa-solid fa-magnifying-glass"></i></button>
                        <input class="searchbar" type="text" v-model="searchContactInput">
                    </div>

                    <!-- accounts container -->
                    <div class="accounts-container">

                        <!-- user tab -->
                        <div v-for="(contact, index) in filteredContacts" class="user-tab" @click="openChat(index)">

                            <!-- profile pic -->
                            <div class="pfp"> 
                                <img src="img/pfp.jpg" alt="">
                            </div>

                            <!-- msg info -->
                            <div>

                                <!-- username -->
                                <div class="username">{{contact.name}}</div>
                                
                                <!-- last message sent -->
                                <div class="info-msg">{{contact.messages[contact.messages.length - 1].message}}</div>

                            </div>

                            <div class="info-msg msg-time">{{contact.messages[contact.messages.length - 1].date}}</div>

                        </div>

                    </div>

                    <!-- popup new chat -->
                    <div class="new-chat-popup">
                        <span class="close-popup">x</span>
                        <span class="new-chat">Nuova chat</span>
                    </div>

                </div>



                <!-- chat -->
                <div class="chat-container">

                    <!-- header chat -->
                    <div class="section-header">

                        <!-- left -->
                        <div class="sh-left">
                            <div class="pfp"> 
                                <img src="img/pfp.jpg" alt="">
                            </div>
                            <p>{{contacts[selectedChat].name}}</p> 
                        </div>

                        <!-- right -->
                        <div class="sh-right">

                            <div class="icon"><i class="fa-solid fa-magnifying-glass"></i></div>
                            <div class="icon"><i class="fa-solid fa-paperclip"></i></div>
                            <div class="icon"><i class="fa-solid fa-ellipsis-vertical"></i></div>
                        </div>
                    </div>

                    <!-- chat content -->
                     <div class="chat-content">

                        <div :class="msg.status === 'sent' ? 'user-msg' : 'other-msg' " v-for="(msg, index) in contacts[selectedChat].messages" >
                            <div class="hover-help">
                                <p>{{msg.message}}</p>
                                <span>{{msg.date}}</span>
                                <div class="popup-msg">
                                    <ul>
                                        <li>Elimina messaggio</li> 
                                    </ul>
                                </div>
                            </div>
                        </div>


                     </div>

                    <!-- chat input container -->
                     <div class="section-header chat">

                        <div class="icon"><i class="fa-regular fa-face-smile"></i></div>

                        <div class="chat-searchbar-container"> 
                            <input v-model="keyboardInputMSG" @keyup.enter="sendMessage" class="searchbar" type="text">
                        </div>

                        <div><i class="fa-solid fa-microphone"></i></div>

                     </div>


                </div>
            </div>

        </div>

    </div>

    <!-- main.js -->
    <script src="js/main.js"></script>

</body>
</html>